<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a
            class="navbar-brand"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Jondell Corp Home
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" *ngIf="isUserAuthenticated$ | async">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/upload-balances"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        Upload Account Balances
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/account-balances"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        Account Balances
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/account-reports"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        Account Reports
                    </a>
                </li>
            </ul>
            <span class="text-white text-bold mr-4">Hello {{ username }}</span>
            <div class="form-inline my-2 my-lg-0">
                <ng-container *ngIf="isUserAuthenticated$ | async; else notAuth">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <button class="btn btn-secondary" (click)="logout()">Logout</button>
                        </li>
                    </ul>
                </ng-container>
                <ng-template #notAuth>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/auth/login']"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                            >
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/auth/register']"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                            >
                                Register
                            </a>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
    </div>
</nav>
