<div class="row mt-5">
    <div class="col-12">
        <h2 class="mb-4">Upload Balances</h2>

        <div
            *ngIf="showError || showSuccess"
            class="alert"
            [ngClass]="{ 'alert-danger': showError, 'alert-success': showSuccess }"
            role="alert"
        >
            {{ responseMessage }}
        </div>

        <form [formGroup]="uploadForm" autocomplete="off" novalidate (ngSubmit)="submitForm()">
            <div class="form-group row">
                <label for="yearMonth" class="col-form-label col-sm-2">Year & Month:</label>
                <div class="col-md-5">
                    <input
                        type="text"
                        id="yearMonth"
                        formControlName="yearMonth"
                        autocomplete="off"
                        class="form-control date"
                        readonly
                        name="yearMonth"
                        bsDatepicker
                        [bsConfig]="bsConfig"
                        (onShown)="onOpenCalendar($event)"
                    />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('yearMonth') && hasError('yearMonth', 'required')">
                        This is required
                    </em>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="filebutton">Account Balances:</label>
                <div class="col-md-5">
                    <input
                        id="filebutton"
                        name="filebutton"
                        formControlName="file"
                        class="input-file"
                        type="file"
                        accept=".csv"
                        #fileInput
                    />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1 offset-2">
                    <button type="submit" class="btn btn-info" [disabled]="!uploadForm.valid">
                        Upload
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
